body {
    background-image: url(../images/Deathly-Hallows.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    /* background-position: center center;    */
    color: white;
    background-position: 0% 0%;
    
}

h1 {
    color: white;
}